body{background-color: mediumaquamarine;
color: brown;}
h1{color: blueviolet}
th{color: blue;}
td{border: 2px solid black; color: orangered;}
caption{color:crimson}
a{background-color: rgb(231, 93, 93);color: rgb(224, 224, 94);}
p{background-color: bisque;}