
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{font-family: "Ubuntu", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    color: aliceblue;
    background-color: aliceblue;
}
